body {
  font-family: "M PLUS Rounded 1c", "Kosugi Maru", sans-serif;
}
* {
  box-sizing: border-box;
}

@keyframes fade-out-quick {
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out-quick 0.1s forwards;
}
